@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --colorTexto: #132615;           
  --colorOrganizador: #029a57;     
  --colorTonico: #c0d72f;          
  --colorFondo: #deefe9;          
}


[data-theme="dark"] {
  --colorFondo: #132615;
  --colorTexto: #deefe9;
 
}

body {
  margin: 0;
  font-family: "Atkinson Hyperlegible", sans-serif;
  background-color: var(--colorFondo);
  color: var(--colorTexto);

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

#navegacion {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--colorOrganizador);
  z-index: 1000;
  padding: 1rem 0;
}

#navegacion ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

#navegacion a {
  text-decoration: none;
  color: var(--colorFondo);
  font-weight: 600;
  transition: color 0.3s ease;
}

#navegacion a:hover {
  color: var(--colorTonico);
}


section {
  padding: 6rem 2rem 4rem; 
  max-width: 800px;
  margin: 0 auto;
}


h1, h2 {
  color: var(--colorOrganizador);
  margin-bottom: 1rem;
}


p {

  color: var(--colorTexto);
  padding: 1rem;
  border-radius: 5px;

}

section#video img {
  width: 100%;
  max-width: 640px;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
  margin: 0 auto;
  display: block;


}

section#video img:hover {
  transform: scale(1.03);
  cursor: pointer;
}


#grafico-mercado div,
#grafico-burbujas div {
  margin-top: 2rem;
  border-radius: 8px;
  padding: 1rem;

}


svg {
  width: 100%;
  height: auto;
  display: block;
}


section#cierre {
 
  color: var(--colorTexto);
}

#mercado table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

#mercado th, #mercado td {
  padding: 0.75rem;
  border-bottom: 1px solid #029a57;
  text-align: left;
}

#mercado th {
  background-color: #c0d72f;
  color: #132615;
}

#mercado svg {
  height: 16px;
}

.destacado {
  color: var(--colorTonico);
  font-weight: bold;
}

.tabla-scroll {
  overflow-x: auto;
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
  background: var(--colorFondo);
  color: #132615;
}

th, td {
  border: 1px solid #029a57;
  padding: 10px;
  text-align: left;
}

th {
  background-color: var(--colorFondo);
  color: #029a57;
}
